*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* section one */

.section-one .header-img{
    width: 100%;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* container-one */

.container-one{
    padding-left: 156px;
    padding-right: 156px;
    position: absolute;
    top: 25px;
}
.header-img{
    position: relative;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
.nav-link{
    width: 50%;
}
.no-underline{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.header-title{
    width: 50%;
    line-height: .9em;
    color:white;
    font-size:67px;
    margin-top: 168px;
}
.header-paragraph{
    color:white;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 25px;
    text-align: justify;
}
.email{
    color: white;
}
.btn-div{
    margin-top: 2em;
}
.btn{
    text-decoration: none;
    padding: 10px;
    border: 2px solid #31BBFF;
    font-weight: 800;
}
.get{
    background-color: #31BBFF;
    color: black;
}
.talk{
    color: #31BBFF;
    margin-left: 2em;
}
/* section two */
.section-two{
    background-color: rgb(225, 225, 225);
    margin-top: -7px;
    padding-bottom: 100px;
}
.header-two{
    padding-top: 45px;
    padding-left: 156px;
    padding-right: 156px; 
}
.hr-one{
    margin: 10px 156px;
    height: 2px;
    border: none;
    background-color: gray;
}
.container-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.width{
    width: 50%;
}
.cont-p{
    font-weight: 600;
    line-height: 30px;
    text-align: justify;
}
.tiger-container{
    margin-left:156px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 156px;
    gap: 67px;
}
.tiger-size{
    width: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .50) 0px 5px 15px;
}
.caption-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    bottom: 0px;
}
.caption{
    color: rgb(250, 246, 246);
    font-size: 19px;
    font-weight: 600;
}
.caption-one{
    margin-left: 1em;
}
.caption-two{
    margin-left: 10.7em;
}
.caption-three{
    margin-left: 12.8em;
}
/* section three */
.section-three{
    background-color: rgb(27, 81, 27);
    padding: 100px 156px;
}
.footer-title{
    margin-bottom: 50px;
    color: rgb(223, 165, 50);
}
.para{
    color: white;
    width: 600px;
    line-height: 30px;
    text-align: justify;
    font-weight: 600;
}
.social-logo{
    width: 40px;
    margin: 0 .5em;
}
.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.creator{
    margin-top: 100px;
}
span{
    color: gray;
    font-size: 12px;
}